#languageDropdown {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    border-radius: 8px;
    outline: none;
    width: 200px;
}

label {
    margin-right: 10px;
}

option {
    background-color: #fff;
    color: #333;
}
